<div class="row-top top-menu">
    <div class="container">
        <div class="col-xs-6 col-md-6 site-title">
            <a href="{{url_for('showLatestItems')}}">Catalog App</a>
        </div>
        <div class="col-xs-6 col-md-6 text-right login-button">
                {%if 'username' not in session %}
                <a href="{{url_for('showLogin')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a>
                {% else %}
                <div class="create-new-button">
                    <a href="/catalog/item/new"><i class="fa fa-plus" aria-hidden="true"></i> Add item</a>
                    <a href="/catalog/category/new"><i class="fa fa-plus" aria-hidden="true"></i> Add category</a>
                </div>
                <a href="{{url_for('disconnect')}}"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a>
                {% endif %}
        </div>
    </div>
</div>
